.idea/
.vscode/

**/bin/
**/obj/

*.user
*.suo
*.userosscache
*.sln.docstates

*.log

.vs/

*.nupkg
*.snupkg
packages/
.nuget/

TestResult*/
TestResults/

*.tmp
*.bak
*.old

publish/
out/

*.coverage
*.coveragexml
coverage/
